@model IEnumerable<leave_management.Models.EmployeeVM>

@{
    ViewData["Title"] = "ListEmployees";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<h1>List of Employees</h1>

<table id="tblData" class="table table-hover table-striped dataTable" role="grid" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id" title="View Detail">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete Empployee">
                        <i class="fa fa-trash-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}