@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title">@Model.TotalRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-warning">@Model.PendingRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-success">@Model.ApprovedRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title text-danger">@Model.RejectedRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</p>
            </div>
        </div>
    </div>
</div>
<br/>
<br />
<hr/>
<h2>List Request</h2>
<table id="tblData" class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequest)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending</span>
                }
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id" title="Review Leave">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}
